name: 'Run Cloud Build Trigger Manually'

on:
  workflow_dispatch: 

jobs:
  deploy:
    name: 'Trigger Cloud Build'
    runs-on: ubuntu-latest  # Run the workflow on an Ubuntu runner

    defaults:
      run:
        shell: bash  # Use the Bash shell

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Configure Terraform backend 
        run: |
          echo -e "terraform {
            backend = "gcs" {
              bucket = "winged-app-429513-b8_terraform"
              prefix = "cr_gcs_to_bq/"
            }
          }" >> backend.tf

      - name: Initialize Terraform workspace
        working-directory: ./infra  # Change this if your Terraform code is in a different directory
        run: terraform init
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
          

      - name: Validate Terraform configuration
        working-directory: ./infra
        run: terraform validate
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Run Terraform plan (optional)
        working-directory: ./infra
        run: terraform plan
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Apply Terraform configuration 
        working-directory: ./infra
        # Uncomment to apply changes
        run: terraform apply -auto-approve
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

