name: 'Run CLoud Build Trigger for New version of Cloud Run'

on:
  workflow_dispatch: 

jobs:
  deploy:
    name: 'Trigger Cloud Build'
    runs-on: ubuntu-latest  # Run the workflow on an Ubuntu runner

    defaults:
      run:
        shell: bash  # Use the Bash shell


    steps:
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:

      #   workload_identity_provider: 'projects/123456789/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
      #   service_account: 'my-service-account@my-project.iam.gserviceaccount.com'
        credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}


    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'
      with:
        version: '>= 363.0.0'



    - name: Run gcloud builds triggers run command
      run: |
          gcloud builds triggers run ${{ secrets.cloud_build_trigger_name }} \
            --region=${{ secrets.cloud_build_region }} \
            --branch=${{ secrets.cloud_build_branch_name }}
